# Django
DEBUG=True
SECRET_KEY=django_secret_key

# Database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0

# OpenWeatherMap
OPEN_WEATHER_MAP_API_KEY=your_api_key
